<div id="<%= dom_id interview_participant_mapping %>">
  <p>
    <strong>Participants:</strong>
    <%= interview_participant_mapping.participants_id %>
  </p>

  <p>
    <strong>Interviews:</strong>
    <%= interview_participant_mapping.interviews_id %>
  </p>

</div>
