<h1>Editing interview participant mapping</h1>

<%= render "form", interview_participant_mapping: @interview_participant_mapping %>

<br>

<div>
  <%= link_to "Show this interview participant mapping", @interview_participant_mapping %> |
  <%= link_to "Back to interview participant mappings", interview_participant_mappings_path %>
</div>
