<div id="<%= dom_id interview %>">
  <p>
    <strong>Start time:</strong>
    <%= interview.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= interview.end_time %>
  </p>

  <p>
    <strong>Participants:</strong>
    <%=
      participant_ids = interview.interview_participant_mappings.pluck(:participants_id)
      get_participant_names(participant_ids)
    %>
  </p>
</div>